.intro {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, transparent, transparent, transparent, #01356e), url('../images/introbg.jpg');
}

.intro-block {
    display: grid;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 20%;
    min-height: 20%;
}

.intro-block hr {
    width: 90%;
}

/*tablet*/

/*mobile*/
@media only screen and (max-width: 640px) {

    .intro-block {
        min-width: 60%;
        min-height: 25%;
    }

}