.intro {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, transparent, transparent, transparent, #01356e), url('../images/introbg.jpg');
}

.intro-block {
    display: grid;
    padding: 1.5vh 3vw;
    border-radius: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 20%;
    min-height: 20%;
}

.intro-block hr {
    width: 90%;
}

@media only screen and (orientation: portrait) {

    .intro-block {
        min-width: 60%;
        min-height: 25%;
        font-size: 4vw;
        border-radius: 4vw;
    }

}