.skill {
    display: inline-block;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #000717, transparent, transparent, transparent), url('../images/skillbg.jpg');
}
.skills-title h1 {
    color: #fff;
    text-align: center;
    padding-bottom: 1.5vh;
    height: 5vh;
}
.skills-blocks {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 75vh;
}
.skills-list {
    padding: 0 2vh;
    color: #3d3d3d;
    background-color: #fff;
    border-radius: 20px;
    width: 50%;
    height: 100%;
    margin: 0 1vh;
}
.rounded-list {
    padding: 0;
}
.rounded-list li {
    position: relative;
    background: linear-gradient(#3d3d3d, #000);
    padding: 1vh;
    margin: 1vh 0;
    border-radius: 20px;
    list-style-type: none;
    transition: background-color .3s ease;
    box-shadow: 0px 2px 6px 0px #3d3d3d;
    font-size: 1.8vh;
}
.rounded-list li:hover {
    background: linear-gradient(#4285F4, #3c77d6);
}
.skills-list-title {
    font-size: 4vh;
    font-weight: bold;
}
.skills-charts {
    display: inline-flex;
    align-items: space-around;
    justify-content: left;
    height: 100%;
    width: 50%;
}
.skills-chart {
    padding: 0 3vh;
    border-radius: 20px;
    background-color: #fff;
    color: #3d3d3d;
    width: 100%;
    height: 100%;
    margin: 0 1vh;
}
.skills-chart p{
    margin-bottom: 0.5vh;
    font-size: 3vh;
}
.bar {
    height: 5vh;
    margin: 0 auto 10px auto;
    background-color: #ddd;
    box-shadow: 0px 2px 6px 0px #3d3d3d;
    border-radius: 20px;
}

.bar-inner{
    position: relative;
    height: 100%;
    width: 90%;
      background-color: #4285f4;
      border-radius: 20px;
}
.bar-inner::after{
    position: absolute;
    right: 1vw;
    content: attr(data-percent);
    line-height: 5vh;
    color: #fff;
    font-weight: 700;
    font-size: 3vh;
}
.bar-75 {
    width: 75%;
}
.bar-65 {
    width: 65%;
}
.bar-60 {
    width: 60%;
}
.bar-55 {
    width: 55%;
}
.bar-50 {
    width: 50%;
}
.bar-30 {
    width: 30%;
}
.bar-20 {
    width: 20%;
}

@media only screen and (orientation: portrait) {
    .skills-title h1 {
        font-size: 300%;
    }
    .skills-blocks {
        flex-direction: column;
        height: 80vh;
    }
    .skills-list {
        width: 95vw;
        height: 45vh;
        display: flex;
        padding: 0;
        margin: 1vh 0;
        align-items: center;
        justify-content: center;
    }
    .listContainer {
        padding: 0 2%;
        height: 40vh;
        max-width: 60%;
    }
    .rounded-list li {
        padding: 1vw;
        margin: 1vw 0;
        font-size: 2.25vw;
        border-radius: 2vh;
    }
    .skills-list-title {
        font-size: 4vw;
    }
    .skills-charts {
        width: 95vw;
        height: 50vh;
        margin: 1vh 0;
    }
    .skills-chart {
        height: 42.5vh;
        padding: 0 3vw;
        margin: 0;
    }
    .skills-chart p {
        font-size: 2.5vw;
        margin-bottom: 0.5vw;
    }
    .bar {
        height: 5vw;
        margin-bottom: 0;
        border-radius: 2vh;
    }
    .bar-inner::after {
        line-height: 5vw;
        font-size: 3vw;
    }
}

@media only screen and (orientation: portrait) and (min-width: 57vh) {
    .skills-title h1 {
        font-size: 250%;
    }
    .rounded-list li {
        font-size: 1.8vw;
    }
    .skills-list-title {
        font-size: 3vw;
    }
    .skills-chart p {
        font-size: 2vw;
    }
    .bar {
        height: 3vw;
    }
    .bar-inner::after {
        line-height: 3vw;
        font-size: 2.5vw;
    }
}